.root {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  /* height: 100vh */
}

.left,
.right {
  padding: 0 50px;
}

.left {
  width: 25%;
  line-height: 2;
  background-color: #f0f8ff;
  /* border-left: 5px solid #0077cc; */
  color: #2a2a2a;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.right {
  width: 60%;
}

.right > input {
  display: block;
  width: 98%;
  margin-bottom: 15px;
  font-size: 18px;
  height: 30px;
}

.label {
  font-size: 15px; 
}

.label > p {
  margin-block-end: 0.3em;
}

.header {
  text-align: left;
  margin-block: 0;
}

.description {
  font-size: 15px;
  margin-block-start: 0;
  font-style: italic;
}

.amount {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: bold;
}

.goldLoading {
  text-align: center;
  background-color: lightgrey;
  padding: 10px;
  margin: -10px;
  font-weight: bold;
  font-size: 20px;
  width: 100%;
  position: sticky;
  display: block;
  margin-bottom: 10px;
}

.dots::after {
  content: "...";
  display: inline-block;
  width: 1.5em;
  text-align: left;
  animation: dotsAnim 1s steps(3, end) infinite;
}

@keyframes dotsAnim {
  0% {
    content: ".";
  }
  33% {
    content: "..";
  }
  66% {
    content: "...";
  }
}

.nisabValue {
  font-size: 15px;
}

.helpTip {
  color: red;
  margin-top: 0px;
  font-weight: bold;
  font-size: 14px; 
}

.right > input:first-of-type {
  margin-bottom: 5px;
}

.spinner {
  color: #007bff;
  font-size: 15px;
}
.error {
  color: red;
  font-size: 15px;
  font-weight: bold;
  margin: 15px 0px;
}

a:visited {
  color: #0000ee;
}

.disclosure {
font-weight: bold; 
font-size: 14px; 
margin-top: 5px; 
}

.symbol {
  position: relative; 
}

.symbol::before {
  content: "$";
  position: absolute;
  left: 5px;
  top: 45%;
  transform: translateY(-50%);
  color: #333;
  pointer-events: none;
}

.symbol input {
  padding-left: 15px; 
}

.right > .symbol:last-of-type {
  margin-bottom: 5px; 
}

input[type="number"] {
  width: 90%;
  padding: 5px 5px 5px 15px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

input[type="number"]:focus {
  border-color: #80bdff;
  outline: none;
}

input, textarea, select {
  font-size: 16px;
}

.nav {
  width: 100%; 
  display: flex; 
  justify-content: space-between;
  background-color: #004085 ;
  height: 50px; 
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.leftNav > , .rightNav {
  margin: 0px 10px; 
}

.nav .link {
  text-decoration: none;
  font-size: 18px; 
  color: white; 
  margin: 0px 15px; 
  /* padding: 0px 10px;  */
}

.active {
  border-bottom: 4px solid white; 
}

/* Tablet styles */
@media (min-width: 768px) and (max-width: 1023px) {
  .left {
    line-height: 1.5;
    padding: 25px;
    width: 35%; 
  }

  .nav .link {
    font-size: 15px;
    
  }

  .active {
    border-bottom: 3px solid white; 
  }

  .header {
    font-size: 25px;
    margin-bottom: 10px;
  }
}

/* Mobile styles */
@media (max-width: 767px) {
  .root {
    flex-direction: column;
  }

  .left,
  .right {
    width: 98%;
    padding: 0 10px;
  }

  .right {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px; 
  }

  .left {
    line-height: 1;
      border-left: 5px solid #0077cc;
  }

  .amount {
    font-size: 14px;
  }

  .totals {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: whitesmoke;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
        z-index: 10; 
        background: #004085;
    color: white;
  }

  .amount {
    flex-direction: row;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    padding: 0px 10px;
  }

  .header {
    
    margin-top: 10px;
    font-size: 20px;
  }

  .right > input {
    height: 20px;
  }

  .label {
    font-size: 14px;
  }

  .header {
    margin-bottom: 14px; 
  }

  .amount .error {
    font-size: 14px; 
  }



  .nav {
    width: 15%; 
    height: 100%; 
    flex-direction: column;
    display: none; 
    /* TEMP */
  }

  /* .root {
    height: 100%; 
  } */

}
